# Map function
- map() function in Python applies a given function to each element of an iterable (list, tuple, set, etc.) and returns a map object (iterator). It is a higher-order function used for uniform element-wise transformations, enabling concise and efficient code.

In [4]:
def even_odd(n):
    if n % 2 == 0:
        return "The number {} is Even".format(n)
    else:
        return "The number {} is Odd".format(n)

In [5]:
even_odd(24)

'The number 24 is Even'

In [8]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 14, 15, 89, 88, 90]
list(map(even_odd,lst)) # map(func_name, arguments)

['The number 1 is Odd',
 'The number 2 is Even',
 'The number 3 is Odd',
 'The number 4 is Even',
 'The number 5 is Odd',
 'The number 6 is Even',
 'The number 7 is Odd',
 'The number 8 is Even',
 'The number 9 is Odd',
 'The number 12 is Even',
 'The number 14 is Even',
 'The number 15 is Odd',
 'The number 89 is Odd',
 'The number 88 is Even',
 'The number 90 is Even']

In [9]:
# Convert string to int using map function

numbers = ["1", "2", "3", "4", "5"]

result = list(map(int, numbers))
print(result)

[1, 2, 3, 4, 5]

In [11]:
# Find cube of numbers using map function

numbers2 = [1, 2, 3, 4, 5, 6]

cube = list(map(lambda x: x ** 3, numbers2))
print(cube)

# Find square of numbers
square = list(map(lambda x: x ** 2, numbers2))
print(square)

[1, 8, 27, 64, 125, 216]
[1, 4, 9, 16, 25, 36]

In [13]:
# Convert lower case string to upper case using map fuction

strings = ["vasu", "ujjwal", "aman", "karan"]

result = list(map(str.upper, strings))
print(result)

['VASU', 'UJJWAL', 'AMAN', 'KARAN']

In [14]:
# Add two lists using map function

lst1 = [1, 2, 3, 4]
lst2 = [5, 6, 7, 8]

result = list(map(lambda x, y: x + y, lst1, lst2))
print(result)

[6, 8, 10, 12]