# Sets
## A set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathemarical notation of a set. This is based on a data structure Known as a hash table.

In [1]:
#defining on empty set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
set_var = {1,2,3,4,5}
print(set_var)

{1, 2, 3, 4, 5}

In [3]:
set_var = {1,1,2,2,2,3,4}
print(set_var)

{1, 2, 3, 4}

In [4]:
set_var = {"SuperMan", "SpiderMan", "IronMan"}
print(set_var)
print(type(set_var))

{'SpiderMan', 'IronMan', 'SuperMan'}
<class 'set'>

In [5]:
#Indexing: Set doesnot support indexing
print(set_var[0])

TypeError: 'set' object is not subscriptable

In [6]:
#Inbuilt functions in sets
Set_var.add("Hulk")
print(set_var)

NameError: name 'Set_var' is not defined

In [7]:
set_var = {1, 2, 3, 4, 5}
set_var.add("Hulk")

In [8]:
print(set_var)

{1, 2, 3, 4, 5, 'Hulk'}

In [16]:
set_var = {"Avengers", "SuperMan", "SpiderMan"}
set_var2 = {"Avengers", "SuperMan", "SpiderMan", "Hulk"}

In [17]:
#Difference
set_var2.difference(set_var)

{'Hulk'}

In [18]:
print(set_var2)

{'SpiderMan', 'Avengers', 'Hulk', 'SuperMan'}

In [19]:
#Difference update: Difference ko another set m update kr deta hai
set_var2.difference_update(set_var)

In [20]:
print(set_var2)

{'Hulk'}

In [21]:
#Intersection: common find krta hai
set_var2.intersection(set_var)

set()

In [22]:
print(set_var)

{'SpiderMan', 'Avengers', 'SuperMan'}

In [23]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5, 6, 7}

In [24]:
set2.intersection(set1)

{1, 2, 3, 4, 5}

In [25]:
set2.intersection_update(set1)

In [26]:
print(set2)

{1, 2, 3, 4, 5}

# Dictionaries
## A dictionary is a collection which is unordered, changeable and indexed. IN python dictionaries are written with curly brackets, and they have keys and values

In [27]:
dic = {}
print(type(dic))

<class 'dict'>

In [28]:
dic = {1, 2, 3, 4, 5, 6}
print(type(dic))

<class 'set'>

In [29]:
dic1 = {"Name": "Vasu", "Roll No.": "11242502", "Course":"Btech(CSE)"}
print(type(dic1))

<class 'dict'>

In [30]:
print(dic1)

{'Name': 'Vasu', 'Roll No.': '11242502', 'Course': 'Btech(CSE)'}

In [31]:
#Access the values based on Keys
dic1["Name"]

'Vasu'

In [32]:
# We can even Loop throught the dictionaries keys
for details in dic1:
    print(details)

Name
Roll No.
Course

In [33]:
# We can even Loop throught the dictionaries Values
for x in dic1.values():
    print(x)

Vasu
11242502
Btech(CSE)

In [34]:
# You can also check both keys and values
for x in dic1.items():
    print(x)

('Name', 'Vasu')
('Roll No.', '11242502')
('Course', 'Btech(CSE)')

In [35]:
# Adding items in dictionaries

dic1["Specialization"] = "AI / ML"
print(dic1)

{'Name': 'Vasu', 'Roll No.': '11242502', 'Course': 'Btech(CSE)', 'Specialization': 'AI / ML'}

In [36]:
for x in dic1.items():
    print(x)

('Name', 'Vasu')
('Roll No.', '11242502')
('Course', 'Btech(CSE)')
('Specialization', 'AI / ML')

## Nested Dictionary

In [37]:
car1_model = {"Mercedes": 1960}
car2_model = {"Audi": 1970}
car3_model = {"Ambassadar": 1980}

car_type = {"car1": car1_model, "car2": car2_model, "car3": car3_model}

In [38]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassadar': 1980}}

In [39]:
# Accessing the items in the dictionaries

print(car_type["car1"])

{'Mercedes': 1960}

In [40]:
print(car_type["car1"] ["Mercedes"])

1960

# Tuples

In [1]:
# Creation of an empty tuple
my_tuple = tuple()

In [2]:
print(type(my_tuple))

<class 'tuple'>

In [3]:
my_tuple = (1, 2, 3, 4, 5, 6)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [4]:
my_tuple[0]

1

In [5]:
my_tuple[2]

3

In [6]:
my_tuple[0] = "Vasu"

TypeError: 'tuple' object does not support item assignment

In [7]:
print(my_tuple)

(1, 2, 3, 4, 5, 6)

In [8]:
my_tuple = ("Vasu bansal", "Vansh bansal")
print(my_tuple)

('Vasu bansal', 'Vansh bansal')

In [9]:
# We can change whole list of the tuple but cannot be change a single item of tuple

In [10]:
# To change the single element in tuple with the help of list
number_tuple = (10, 20, 30, 40, 50)

number_list = list(number_tuple)
number_list[0] = 100
number_tuple = tuple(number_list)

In [11]:
print(number_tuple)

(100, 20, 30, 40, 50)

In [12]:
# To check the element is present in the tuple?
number_tuple.index(100)

0

In [2]:
is_present = number_tuple.index(200) #it gives an error
print(is_present)

NameError: name 'number_tuple' is not defined