# String Formatting

In [1]:
print("Hello everyone")

Hello everyone

In [2]:
str = "Hello everyon"
print(str)

Hello everyon

In [3]:
def greeting(name):
    return "Hello {}. Welcome to the community".format(name)

In [4]:
greeting("Vasu")

'Hello Vasu. Welcome to the community'

In [5]:
def welcome_email(firstname, lastname):
    return "Welcome {}.Your surname is {}".format(firstname, lastname)

In [6]:
welcome_email("Vasu", "Bansal")

'Welcome Vasu.Your surname is Bansal'

In [7]:
def details(name, age):
    return "Hello {}. Your age is {}".format(name, age)

In [8]:
details("Vasu", 19)

'Hello Vasu. Your age is 19'

In [9]:
def generate_salary_slip(name, basic_salary):
    
    hra = basic_salary * 0.20
    da = basic_salary * 0.10
    total_salary = basic_salary + hra + da

    name = name.title()

    # Print formatted salary slip
    print("-" * 35)
    print("SALARY SLIP".center(35))
    print("-" * 35)
    print(f"{'Employee Name':<15} : {name}")
    print(f"{'Basic Salary':<15} : ₹{basic_salary:.2f}")
    print(f"{'HRA (20%)':<15} : ₹{hra:.2f}")
    print(f"{'DA (10%)':<15} : ₹{da:.2f}")
    print("-" * 35)
    print(f"{'Total Salary':<15} : ₹{total_salary:.2f}")
    print("-" * 35)


# Function Call
generate_salary_slip("vasu bansal", 25000)

-----------------------------------
            SALARY SLIP
-----------------------------------
Employee Name   : Vasu Bansal
Basic Salary    : ₹25000.00
HRA (20%)       : ₹5000.00
DA (10%)        : ₹2500.00
-----------------------------------
Total Salary    : ₹32500.00
-----------------------------------

In [10]:
result = "Report Card"
print(result.center(35))

            Report Card